@model ParrisConnection.ViewModels.WallViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    LoadCalendar();
    
</script>

<div class="ui grid">
    <div class="five wide column">
        <br />
        <div id="date-popover" class="popover top" style="...">
            ...
            <div id="date-popover-content" class="popover-content"></div>
        </div>
        <div id="my-calendar"></div>

        <form id="EventForm" style="display: none;" class="ui form">
            <label>Event Name</label>
            <div class="field">
                <input type="text" name="title" id="TitleTextbox" />
            </div>
            <label>Description</label>
            <div class="field">                
                <textarea rows="5" name="description" id="DescriptionTextbox"></textarea>
            </div>
            <label>Event Date</label>
            <div class="field">                
                <input type="text" name="title" class="datepicker" id="DateTextbox"/>
            </div>
            <button type="button" class="ui primary button" onclick="CreateEvent()">Add Event</button>
        </form>
        <a id="AddEventLink" onclick="ToggleEventForm()">Add Event</a>
    </div>
    <div class="five wide column">
        <br />
        @Html.ActionLink("Update Status", "Index", "SingleStatus", null, new { @class = "ui primary button" })
        <br /><br />

        @foreach (var post in Model.Statuses)
        {

            <div class="ui segment">
                @post.UserName
                <p>@post.Post</p>

                @using (Html.BeginForm("CreateComment", "Wall", new { statusId = @post.Id, @class = "ui form" }, FormMethod.Post))
                {
                    <div class="ui input">
                        @Html.TextBox("Comment", null)
                    </div>
                        <br />
                        <button type="submit" class="ui primary button">Comment</button>
                        <br /><br />
                }

                <ul>
                    @foreach (var comment in post.Comments)
                    {
                        <li>
                            <p>@comment.UserName @comment.PostComment </p>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
       
    </div>
    <div class="col-lg-4">
       
    </div>
    <div class="col-lg-4">
            
    </div>
</div>



